body{
    margin: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0.3);
    border-radius: 8px;
}