/*General style section*/
body{
    margin: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

/*container style section*/
.container{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0.3);
    border-radius: 8px;
    background-color: cadetblue;
}

textarea{
    width: 300px;
    height: 100px;
    border-style: 2px solid;
    border-color: black;
    font-family: monospace;
    font-size: 15px;
    background-color: rgb(151, 200, 201);
    color: black;
    resize: none;
}

.counter{
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 20px;
}

p{
    font-size: 15px;
}

#totalCount{
    color: rgb(241, 245, 246);
}

#remainCount{
    color: rgb(240, 201, 7);
}